<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNFSNBX"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript>You need to turn on Javascript!</noscript>

        <th:block th:fragment="navbar(infoText)">
            <input type="hidden" id="sessionTimeoutInSeconds" name="sessionTimeoutInSeconds" th:value="${@environment.getProperty('server.session.timeout')}" />
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="pull-left navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <p class="navbar-text" th:text="${infoText}"></p>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a th:href="@{/}">Home</a></li>
                                <li class="active"><a th:href="@{'/statsview/history/' + ${#httpServletRequest.getAttribute('userCountry')}}">Stats</a></li>
                                <li class="active"><a th:href="@{/useredit/changepassword}">Change Password</a></li>
                                <li class="active" sec:authorize="hasRole('ROLE_SUPER_ADMIN')"><a th:href="@{/manage/caches/list}">Caches</a></li>
                            </ul>
                            <p class="navbar-text navbar-right">
                                <span sec:authentication="principal.firstName"></span>
                                <span sec:authentication="principal.lastName"></span>
                            </p>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <p class="navbar-btn">
                                        <form th:action="@{/logout}" th:method="post">
                                            <button type="submit" class="btn btn-default">Logout</button>
                                        </form>
                                    </p>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                </div>
            </nav>
        </th:block>
    </body>
</html>