<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

    <body>
        <th:block th:fragment="group-operations">
            <div class="col-xs-3">
                <th:block th:replace="se/fragments/quick-links :: quick-links"></th:block>
                <br/>
                <div class="list-group" id="groupOperations"
                     th:with="adminCluster=('ADMIN_' + ${userCountry} + '_' + ${clusterPath.cluster})">
                    <a href="#" class="list-group-item disabled">Group operations</a>
                    <div th:if="${#authorization.expression('hasAnyRole(T(org.amhzing.clusterview.user.UserRole).SUPER_ADMIN.getRole(),
                                                                        ''ADMIN_'+#strings.toUpperCase(userCountry)+'_ALL'',
                                                                        '''+#strings.toUpperCase(adminCluster)+''')')}">
                        <a th:href="@{'/clusteredit/' + ${clusterPath.country} + '/' + ${clusterPath.region} + '/' + ${clusterPath.cluster} + '/newgroup'}"
                           id="addNewGroup"
                           class="list-group-item list-group-item-info">
                            Add new group
                        </a>
                    </div>
                </div>
            </div>
        </th:block>
    </body>

</html>