<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="javascript">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/se/js/jquery.imagemapster.min.js}"></script>
        <script th:src="@{/se/js/jquery.mousewheel-3.0.6.pack.js}"></script>
        <script th:src="@{/se/js/jquery.fancybox.pack.js}"></script>
    </th:block>

</html>