<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <body>
        <th:block th:fragment="statistics">
            <div class="col-xs-3" th:if="${statistics != null}">
                <div class="list-group">
                    <div class="list-group-item disabled">Statistics</div>
                    <div class="list-group-item"
                         th:each="statistic : ${statistics.activityQuantity}"
                         th:text="${statistic.key} + ': ' + ${statistic.value}">Statistic</div>
                </div>
            </div>
        </th:block>
    </body>
</html>