<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="se/fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="se/fragments/navbar :: navbar"></th:block>

        <input type="hidden" id="country" name="country" th:value="${cluster.country}" />
        <input type="hidden" id="region" name="region" th:value="${cluster.region}" />
        <input type="hidden" id="cluster" name="cluster" th:value="${cluster.cluster}" />

        <div class="clusterContainer">
            <img th:src="@{/se/images/cluster-stockholm.png}" />
            <th:block th:each="group : ${groups}">
                <div class="clusterGroup"
                     th:style="'left: ' + ${group.location.coordX - 10} + 'px; top: ' + ${group.location.coordY - 10} + 'px;'" >
                    <a th:href="@{stockholm/} + ${group.id}" class="various" data-fancybox-type="iframe">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </a>
                </div>
            </th:block>
        </div>

        <th:block th:replace="se/fragments/javascript :: javascript"></th:block>
        <script th:src="@{/se/js/cluster.js}"></script>

    </body>
</html>