<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <body>
        <th:block th:fragment="statistics">
            <div class="col-sm-3" th:if="${statistics != null}">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>No.</th>
                        <th>Par.</th>
                        <th>CoI</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="coreActivity : ${statistics.coreActivities}">
                        <td th:text="${coreActivity.name}" />
                        <td th:text="${coreActivity.quantity}" />
                        <td th:text="${coreActivity.totalParticipants}" />
                        <td th:text="${coreActivity.communityOfInterest}" />
                    </tr>
                    </tbody>
                </table>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>No.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="statistic : ${statistics.activityQuantity}">
                            <td th:text="${statistic.key}" th:if="not ${clusterPath}"/>
                            <td th:if="${clusterPath}">
                                <a th:href="@{'/clusterview/' + ${clusterPath.country} + '/' + ${clusterPath.region} + '/' + ${clusterPath.cluster} + '?highlight=' + ${statistic.key}}"
                                   th:text="${statistic.key}"
                                   th:class="${param.highlight != null and (param.highlight[0] == statistic.key)} ? 'statistic-highlight' : ''"></a>
                            </td>
                            <td th:text="${statistic.value}" />
                        </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </body>
</html>