body:not(.excludes-header) {
  padding-top: 55px;
}

.cluster-container {
   position: relative;
   background-color: #ffffff;
}

.cluster-group {
   position: absolute;
   color: #337ab7;
   font-size: 15px;
}