body:not(.excludes-header) {
  padding-top: 55px;
}

.cluster-container {
   position: relative;
   background-color: #ffffff;
}

.cluster-group {
   position: absolute;
   color: #337ab7;
   font-size: 15px;
}

.group-single {
    color: #CC0000;
}

.group-couple {
    color: #CC0000;
}

.group-many {
    color: #337ab7;
}

.group-highlight {
    color: #a200f9;
}

.statistic-highlight {
    text-decoration:underline;
    color:#a200f9;
}