<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar('Result')"></th:block>

        <div class="container-fluid">
            <div class="jumbotron">
                <div class="row" th:if="${changePasswordResponse}">
                    <div class="alert alert-success">
                        <h3><th:block th:text="${changePasswordResponse}">response</th:block></h3>
                    </div>
                </div>
            </div>
        </div>

        <th:block th:replace="fragments/javascript :: javascript"></th:block>
    </body>
</html>