<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
    <th:block th:replace="fragments/navbar :: navbar(${groupPath.cluster} + ' cluster')"></th:block>

    <div class="container-fluid">
        <div class="jumbotron" th:with="baseUrl=('/clusteredit/' + ${groupPath.country} + '/' + ${groupPath.region} + '/' + ${groupPath.cluster})">
            <form action="#" th:action="${baseUrl} + '/' + ${groupPath.action}" th:object="${groupModel}" th:method="${groupPath.method}">

                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>

                <div id="activityOptions" style="display: none;">
                    <option th:each="activity : ${activityValues}"
                            th:value="${activity.id}"
                            th:text="${activity.name}">Study circle</option>
                </div>

                <input type="hidden" th:field="*{id}" />
                <input type="hidden" id="location.coordX" name="location.coordX" th:value="${groupModel.location.coordX}"/>
                <input type="hidden" id="location.coordY" name="location.coordY" th:value="${groupModel.location.coordY}"/>

                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#groupLocation">
                        Select location
                    </button>
                    <div id="groupLocation" class="collapse">
                        <div class="cluster-container">
                            <img class="map" th:src="@{'/' + ${groupPath.country} + '/images/cluster-' + ${groupPath.cluster} + '.png'}" />
                            <div class="cluster-group"
                                 th:style="${groupModel.location.coordX} &gt; 0
                                           ? 'left: ' + ${groupModel.location.coordX - 10} + 'px; top: ' + ${groupModel.location.coordY - 10} + 'px;'
                                           : 'display:none'">
                                <i class="fa fa-users" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row"><br/></div>
                <div class="row">
                    <th:block th:each="coreActivity, rowStat : *{coreActivities}">
                        <div th:class="'col-sm-' + (12 / *{coreActivities.size()})">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Par.</th>
                                    <th>CoI</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="default">
                                    <input type="hidden" th:field="*{coreActivities[__${rowStat.index}__].id}" />
                                    <input type="hidden" th:field="*{coreActivities[__${rowStat.index}__].name}"/>
                                    <td th:text="${coreActivity.name}">Study Circle</td>
                                    <td>
                                        <input type="text" th:field="*{coreActivities[__${rowStat.index}__].quantity}" placeholder="Quantity" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" th:field="*{coreActivities[__${rowStat.index}__].totalParticipants}" placeholder="Total" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" th:field="*{coreActivities[__${rowStat.index}__].communityOfInterest}" placeholder="CoI" class="form-control"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </div>
                <div class="row" th:if="${groupModel.coreActivities == null or #lists.isEmpty(groupModel.coreActivities)}">
                    <th:block th:each="coreActivity, rowStat : ${coreActivityValues}">
                        <div th:class="'col-sm-' + (12 / ${coreActivityValues.size()})">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Par.</th>
                                    <th>CoI</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="default">
                                    <input type="hidden" th:name="'coreActivities[' + ${rowStat.index} + '].id'" th:value="${coreActivity.id}" />
                                    <input type="hidden" th:name="'coreActivities[' + ${rowStat.index} + '].name'" th:value="${coreActivity.name}" />
                                    <td th:text="${coreActivity.name}">Study Circle</td>
                                    <td>
                                        <input type="text"
                                               th:name="'coreActivities[' + ${rowStat.index} + '].quantity'"
                                               th:value="${coreActivity.quantity}"
                                               placeholder="Total" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text"
                                               th:name="'coreActivities[' + ${rowStat.index} + '].totalParticipants'"
                                               th:value="${coreActivity.totalParticipants}"
                                               placeholder="Total" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text"
                                               th:name="'coreActivities[' + ${rowStat.index} + '].communityOfInterest'"
                                               th:value="${coreActivity.communityOfInterest}"
                                               placeholder="CoI" class="form-control"/>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </th:block>
                </div>
                <div class="row">
                    <table class="table table-hover" id="membersTable">
                        <thead>
                            <tr >
                                <th></th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Capabilities</th>
                                <th>Commitments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${groupModel.members != null and not #lists.isEmpty(groupModel.members)}">
                                <th:block th:each="member, rowStat : *{members}">
                                    <tr th:id="member + ${rowStat.index}">
                                        <td>
                                            <input type="checkbox" name="memberIds" th:value="${groupModel.members[__${rowStat.index}__].id}" />
                                        </td>
                                        <td>
                                            <input type="text" th:field="*{members[__${rowStat.index}__].name.firstName}" placeholder="First name" class="form-control"/>
                                        </td>
                                        <td>
                                            <input type="text" th:field="*{members[__${rowStat.index}__].name.lastName}" placeholder="Last name" class="form-control"/>
                                        </td>
                                        <td>
                                            <select class="activitiesMultiSelect" th:field="*{members[__${rowStat.index}__].capability.activities}" multiple="multiple">
                                                <option th:each="activity : ${activityValues}"
                                                        th:value="${activity.id}"
                                                        th:text="${activity.name}">Study circle</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="activitiesMultiSelect" th:field="*{members[__${rowStat.index}__].commitment.activities}" multiple="multiple">
                                                <option th:each="activity : ${activityValues}"
                                                        th:value="${activity.id}"
                                                        th:text="${activity.name}">Study circle</option>
                                            </select>
                                        </td>
                                    </tr>
                                </th:block>
                                <tr th:id="member + ${groupModel.members.size()}"></tr>
                            </th:block>
                            <th:block th:if="${groupModel.members == null or #lists.isEmpty(groupModel.members)}">
                                <tr id="member0">
                                    <td>
                                        <input type="checkbox" name="memberIds" />
                                    </td>
                                    <td>
                                        <input type="text" name="members[0].name.firstName" placeholder="First name" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" name="members[0].name.lastName" placeholder="Last name" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="activitiesMultiSelect" name="members[0].capability.activities" multiple="multiple">
                                            <option th:each="activity : ${activityValues}"
                                                    th:value="${activity.id}"
                                                    th:text="${activity.name}">Study circle</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="activitiesMultiSelect" name="members[0].commitment.activities" multiple="multiple">
                                            <option th:each="activity : ${activityValues}"
                                                    th:value="${activity.id}"
                                                    th:text="${activity.name}">Study circle</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr id="member1"></tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a id="delete_row" class="btn btn-default" title="delete row">- Row</a>
                        <a id="add_row" class="btn btn-default" title="add row">+ Row</a>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <a th:href="'/clusterview/' + ${groupPath.country} + '/' + ${groupPath.region} + '/' + ${groupPath.cluster}" class="btn btn-default">
                                Close
                            </a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <input type="hidden" id="country" name="country" th:value="${groupPath.country}" />
    <input type="hidden" id="region" name="region" th:value="${groupPath.region}" />
    <input type="hidden" id="cluster" name="cluster" th:value="${groupPath.cluster}" />

    <th:block th:replace="fragments/javascript :: javascript"></th:block>
    <script th:src="@{/js/group.js}"></script>

</body>
</html>