<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar(${cluster} + ' stats history')"></th:block>

        <div class="container-fluid">
            <div class="row">
                <th:block th:replace="fragments/core-activity-stats :: core-activity-stats('CC')"></th:block>
                <th:block th:replace="fragments/core-activity-stats :: core-activity-stats('DM')"></th:block>
                <th:block th:replace="fragments/core-activity-stats :: core-activity-stats('JYG')"></th:block>
                <th:block th:replace="fragments/core-activity-stats :: core-activity-stats('SC')"></th:block>
            </div>
        </div>

        <input type="hidden" id="country" name="country" th:value="${country}" />
        <input type="hidden" id="cluster" name="cluster" th:value="${cluster}" />

        <th:block th:replace="fragments/javascript :: javascript"></th:block>
        <script th:src="@{/js/highcharts.js}"></script>
        <script th:src="@{/js/jquery.highchartTable.js}"></script>
        <script th:src="@{/js/chart.js}"></script>

    </body>
</html>