<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="head">
        <title>Clusterview</title>
        <link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" media="screen" />
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

        <link th:href="@{/css/jquery.fancybox.css}" rel="stylesheet" media="screen" />
        <link th:href="@{/css/bootstrap-multiselect.css}" rel="stylesheet" media="screen" />

        <link th:href="@{/css/app.css}" rel="stylesheet" media="screen" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </th:block>

</html>