<configuration>
    <!-- always a good idea to add an on console status listener -->
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

    <turboFilter class="org.amhzing.clusterview.backend.log.TimeBasedDuplicateMessageFilter">
        <allowedRepetitions>5</allowedRepetitions>
        <cacheSize>200</cacheSize>
        <expireAfterWriteSeconds>60</expireAfterWriteSeconds>
    </turboFilter>

    <!-- added this as recommended by spring-boot-admin -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>

    <!-- added this as recommended by logstash-logback-encoder.
         See TCP Appenders https://github.com/logstash/logstash-logback-encoder -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

    <springProfile name="offline">
        <property name="logLevel" value="DEBUG"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%date %level [%thread] %logger{10} [%file:%line] [%X{appuser}] %msg%n</pattern>
                <outputPatternAsHeader>true</outputPatternAsHeader>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!offline">
        <property name="logLevel" value="INFO"/>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <includeMdcKeyName>appuser</includeMdcKeyName>
                <timeZone>UTC</timeZone>
            </encoder>
        </appender>
    </springProfile>

    <appender name="ASYNC_STDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <appender-ref ref="STDOUT" />
    </appender>

    <logger name="org.amhzing" level="${logLevel}" additivity="false">
        <appender-ref ref="ASYNC_STDOUT" />
    </logger>

    <root level="WARN">
        <appender-ref ref="ASYNC_STDOUT" />
    </root>

</configuration>