<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar(${clusterPath.cluster} + ' cluster')"></th:block>

        <div class="container-fluid">
            <div class="row">
                <th:block th:replace="fragments/group-operations :: group-operations"></th:block>

                <div class="col-xs-6">
                    <div class="cluster-container">
                        <img th:src="@{'/' + ${clusterPath.country} + '/images/cluster-' + ${clusterPath.cluster} + '.png'}" onerror="clusterNotFound()"/>
                        <th:block th:each="group : ${groups}">
                            <div class="cluster-group"
                                 th:style="'left: ' + ${group.location.coordX - 10} + 'px; top: ' + ${group.location.coordY - 10} + 'px;'"
                                 th:with="baseUrl=('/clusterview/' + ${clusterPath.country} + '/' + ${clusterPath.region} + '/' + ${clusterPath.cluster} + '/')">
                                <a th:href="${baseUrl} + ${group.id}" class="fancyLightbox" data-fancybox-type="iframe">
                                    <th:block th:switch="${group.members.size()}">
                                        <th:block th:case="1"><i class="fa fa-user" aria-hidden="true" style="color:red"></i></th:block>
                                        <th:block th:case="2"><i class="fa fa-user" aria-hidden="true" style="color:red"></i></th:block>
                                        <th:block th:case="*"><i class="fa fa-users" aria-hidden="true"></i></th:block>
                                    </th:block>
                                </a>
                            </div>
                        </th:block>
                    </div>
                </div>

                <th:block th:replace="fragments/statistics :: statistics"></th:block>
            </div>
        </div>

        <input type="hidden" id="country" name="country" th:value="${clusterPath.country}" />
        <input type="hidden" id="region" name="region" th:value="${clusterPath.region}" />
        <input type="hidden" id="cluster" name="cluster" th:value="${clusterPath.cluster}" />

        <th:block th:replace="fragments/javascript :: javascript"></th:block>

    </body>
</html>