<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:replace="se/fragments/head :: head"></th:block>
    </head>
    <body class="excludes-header">

        <h1><th:block th:text="${confirmationMessage}"></th:block></h1>

        <input type="hidden" id="confirmationMessage" name="confirmationMessage" th:value="${confirmationMessage}" />

        <th:block th:replace="se/fragments/javascript :: javascript"></th:block>

    </body>
</html>