<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="se/fragments/head :: head"></th:block>
</head>
<body>
    <th:block th:replace="se/fragments/navbar :: navbar(${groupPath.cluster} + ' cluster')"></th:block>

    <div class="container">
        <div class="jumbotron">
            <form action="#" th:action="${groupPath.action}" th:object="${groupModel}" th:method="${groupPath.method}">

                <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                </ul>

                <input type="hidden" th:field="*{id}" />
                <input type="hidden" id="numMembers" th:value="${groupModel.members != null and not #lists.isEmpty(groupModel.members)} ? ${groupModel.members.size()} : 1" />
                <input type="hidden" id="location.coordX" name="location.coordX" th:value="${groupModel.location.coordX}"/>
                <input type="hidden" id="location.coordY" name="location.coordY" th:value="${groupModel.location.coordY}"/>

                <div class="row">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#groupLocationModal">
                        Select location
                    </button>
                </div>
                <div class="row"><br/></div>
                <div class="row">
                    <table class="table table-hover" id="membersTable">
                        <thead>
                            <tr >
                                <th></th>
                                <th>First name</th>
                                <th>Last name</th>
                                <th>Capabilities</th>
                                <th>Commitments</th>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:if="${groupModel.members != null and not #lists.isEmpty(groupModel.members)}">
                                <th:block th:each="member, rowStat : *{members}">
                                    <tr th:id="member + ${rowStat.index}">
                                        <td>
                                            <input type="checkbox" name="memberIds" th:value="${groupModel.members[__${rowStat.index}__].id}" />
                                        </td>
                                        <td>
                                            <input type="text" th:field="*{members[__${rowStat.index}__].name.firstName}" placeholder="First name" class="form-control"/>
                                        </td>
                                        <td>
                                            <input type="text" th:field="*{members[__${rowStat.index}__].name.lastName}" placeholder="Last name" class="form-control"/>
                                        </td>
                                        <td>
                                            <select class="activitiesMultiSelect" th:field="*{members[__${rowStat.index}__].capability.activities}" multiple="multiple">
                                                <option value="sc">Study Circle</option>
                                                <option value="dm">Devotional Meeting</option>
                                                <option value="cc">Childrens class</option>
                                                <option value="jyg">Junior Youth Group</option>
                                                <option value="hv">Home Visit</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="activitiesMultiSelect" th:field="*{members[__${rowStat.index}__].commitment.activities}" multiple="multiple">
                                                <option value="sc">Study Circle</option>
                                                <option value="dm">Devotional Meeting</option>
                                                <option value="cc">Childrens class</option>
                                                <option value="jyg">Junior Youth Group</option>
                                                <option value="hv">Home Visit</option>
                                            </select>                                        </td>
                                    </tr>
                                </th:block>
                                <tr th:id="member + ${groupModel.members.size()}"></tr>
                            </th:block>
                            <th:block th:if="${groupModel.members == null or #lists.isEmpty(groupModel.members)}">
                                <tr id="member0">
                                    <td>
                                        <input type="checkbox" name="memberIds" />
                                    </td>
                                    <td>
                                        <input type="text" name="members[0].name.firstName" placeholder="First name" class="form-control"/>
                                    </td>
                                    <td>
                                        <input type="text" name="members[0].name.lastName" placeholder="Last name" class="form-control"/>
                                    </td>
                                    <td>
                                        <select class="activitiesMultiSelect" name="members[0].capability.activities" multiple="multiple">
                                            <option value="sc">Study Circle</option>
                                            <option value="dm">Devotional Meeting</option>
                                            <option value="cc">Childrens class</option>
                                            <option value="jyg">Junior Youth Group</option>
                                            <option value="hv">Home Visit</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="activitiesMultiSelect" name="members[0].commitment.activities" multiple="multiple">
                                            <option value="sc">Study Circle</option>
                                            <option value="dm">Devotional Meeting</option>
                                            <option value="cc">Childrens class</option>
                                            <option value="jyg">Junior Youth Group</option>
                                            <option value="hv">Home Visit</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr id="member1"></tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <a id="delete_row" class="btn btn-default">Delete Row</a>
                        <a id="add_row" class="btn btn-default">Add Row</a>
                    </div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <a th:href="'/clusterview/' + ${groupPath.country} + '/' + ${groupPath.region} + '/' + ${groupPath.cluster}" class="btn btn-default">
                                Close
                            </a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="groupLocationModal" tabindex="-1" role="dialog" aria-labelledby="groupLocationModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="groupLocationModalLabel">Click on the map to select the location</h4>
                </div>
                <div class="modal-body">
                    <div class="cluster-container">
                        <img class="map" th:src="@{'/se/images/cluster-' + ${groupPath.cluster} + '.png'}" />
                        <div class="cluster-group" style="visibility:hidden" >
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="country" name="country" th:value="${groupPath.country}" />
    <input type="hidden" id="region" name="region" th:value="${groupPath.region}" />
    <input type="hidden" id="cluster" name="cluster" th:value="${groupPath.cluster}" />

    <th:block th:replace="se/fragments/javascript :: javascript"></th:block>
    <script th:src="@{/se/js/group.js}"></script>

</body>
</html>