<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="se/fragments/head :: head"></th:block>
    </head>
    <body class="excludes-header">

        <div class="container-fluid">
            <div class="row">
                <th:block th:each="coreActivity : ${group.coreActivities}">
                    <div th:class="'col-xs-' + (12 / ${group.coreActivities.size()})">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>No.</th>
                                    <th>Par.</th>
                                    <th>CoI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="default">
                                    <td th:text="${coreActivity.name}">Study Circle</td>
                                    <td th:text="${coreActivity.quantity}">10</td>
                                    <td th:text="${coreActivity.totalParticipants}">10</td>
                                    <td th:text="${coreActivity.communityOfInterest}">5</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </th:block>
            </div>
            <div class="row">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Capabilities</th>
                            <th>Commitments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="member : ${group.members}" class="info">
                            <td th:text="${member.name.firstName}">John</td>
                            <td th:text="${member.name.lastName}">Doe</td>
                            <td>
                                <table class="table">
                                    <tbody>
                                    <tr th:each="activity : ${member.capability.activities}" class="default">
                                        <td th:text="${activity.name}">Study Circle</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table class="table">
                                    <tbody>
                                    <tr th:each="activity : ${member.commitment.activities}" class="warning">
                                        <td th:text="${activity.name}">Study Circle</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div sec:authorize="hasRole(T(org.amhzing.clusterview.user.UserRole).SE_ADMIN)">
                <div class="row" th:if="${not group.members.isEmpty()}">
                    <div class="col-xs-6">
                        <div class="pull-left">
                            <form th:action="'/clusteredit/' + ${groupPath.country} + '/' + ${groupPath.region} + '/' + ${groupPath.cluster} + '/' + ${groupPath.groupId}"
                                  th:method="delete" target="_top">
                                <button id="deleteGroup" type="submit" class="btn btn-danger btn-md">Delete Group</button>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="pull-right">
                            <a th:href="'/clusteredit/' + ${groupPath.country} + '/' + ${groupPath.region} + '/' + ${groupPath.cluster} + '/' + ${groupPath.groupId}"
                               target="_top">
                                <button id="editGroup" type="submit" class="btn btn-primary btn-md">Edit Group</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="hidden" id="country" name="country" th:value="${groupPath.country}" />
        <input type="hidden" id="region" name="region" th:value="${groupPath.region}" />
        <input type="hidden" id="cluster" name="cluster" th:value="${groupPath.cluster}" />
        <input type="hidden" id="groupId" name="region" th:value="${groupPath.groupId}" />

        <th:block th:replace="se/fragments/javascript :: javascript"></th:block>

    </body>
</html>