<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <th:block th:replace="fragments/head :: head"></th:block>
    </head>
    <body>
        <th:block th:replace="fragments/navbar :: navbar('Stats history')"></th:block>

        <div class="container-fluid">
            <div class="jumbotron">
                <form action="#" th:action="'/statsedit/history/' + ${country}" th:object="${clusterNameModel}" th:method="post">
                    <div class="row">
                        <select class="clustersMultiSelect" name="name" th:field="*{name}">
                            <option value="">None selected</option>
                            <option th:each="cluster : ${clusterValues}"
                                    th:value="${cluster.name}"
                                    th:text="${cluster.name}">Stockholm</option>
                        </select>
                        <button type="button" id="viewHistory" class="btn btn-primary" onclick="viewClusterHistory('/statsview/history/se/')">View History</button>
                        <button type="submit" class="btn btn-default"
                                th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') and @webSecurity.checkAdmin(authentication, ''X'')')}">
                            Save History
                        </button>
                    </div>
                    <div class="row">
                        <div id="statsHistoryMessage" th:if="${statsHistoryMessage}" class="alert alert-success" th:text="${statsHistoryMessage}">Stats history message</div>

                        <ul id="errorMessage" class="alert alert-danger" style="display: none">
                            <li>Must select a single cluster to view history</li>
                        </ul>

                        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>

        <input type="hidden" id="country" name="country" th:value="${country}" />

        <th:block th:replace="fragments/javascript :: javascript"></th:block>
        <script th:src="@{/js/stats.js}"></script>

    </body>
</html>